

.m2 {
  font-size: 0.9rem;
  width: 10rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.p2 {
  padding: 0.5rem 1rem;
  font-size: small;
  color: #9E9E9E;
}

.p1 {
  color: #9f8bcf;
  font-weight: 500;
  font-size: large;
}

.cardImg {
  border-radius: 20px;
}
